<h1>Ads</h1>

<head>
<style>
body {
  background-color: coral;
}
</style>
</head>
<p>
    <%= link_to 'Create New Ad', new_ad_path, class: 'btn btn-primary' %>
</p>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Best Sellers Today</h2>

<div class="row">

    <% @ads.each do |ad| %>

        <div class="column">
            <h4><%= ad.title %></h4>
            <p>Pic Here...</p>
            <p>Name: <%= ad.plant.name %></p>
            <p>Price: $<%= ad.plant.price %></p>
            <p>Stock: <%= ad.plant.stock %></p>
            <%= link_to 'View Info', plants_path, class: 'btn btn-secondary'%>
            <%= link_to 'Buy', ads_path, class: 'btn btn-secondary'%>
        </div>

    <% end %>

</div>
