<h1>Ads</h1>

<details>
  <summary> Shopping Cart</summary>
  <%if @cart.empty?%>
    <p> No items in cart.</p>
  <%else%>
    <ul>
      <% @cart.each do |ad| %>
        <li><%=ad.plant.name%>-<%= link_to 'remove from cart', remove_from_cart_path(ad), method: :delete%></li>
      <%end%>
    </ul>
  <%end%>
</details>

<head>
<style>
body {
  background-color: coral;
}
</style>
</head>


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Best Sellers Today</h2>

<div class="row">

    <% @ads.each do |ad| %>

        <div class="column">
            <h4><%= ad.title %></h4>
            <p>Pic Here...</p>
            <p>Name: <%= ad.plant.name %></p>
            <p>Price: $<%= ad.plant.price %></p>
            <p>Stock: <%= ad.plant.stock %></p>
            <% if @cart.include?(ad)%>
              <p><%= button_to 'remove from cart', remove_from_cart_path(ad), method: :delete%></p>

            <%else%>
              <p><%= link_to 'add to cart', add_to_cart_path(ad.plant.id), method: :post %></p>
            <%end%>
            <%= link_to 'View Flowers', plants_path, class: 'btn btn-dark btn-dark'%>
            <%= link_to 'Buy', ads_path, class: 'btn btn-dark btn-dark'%>
        </div>

    <% end %>

</div>
