<% content_for(:html_title) {' Home' }%>


<head>
<style>
body {
  background-color: coral;
}
</style>
</head>


<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<body>
  <div class="row">
  <%= image_tag 'pinkflower.jpg',
    # class: 'w-15',
    class: 'col mb-2',
    size: "270x183",
    style: "object-fit: cover;"

%> 
  <%= image_tag 'chrysanthemum.jpg',
    # class: 'w-15',
    class: 'col mb-2',
    size: "270x183",
    style: "object-fit: cover;"

    %>
  <%= image_tag 'Yllow.jpg',
    # class: 'w-15',
    class: 'col mb-2',
    size: "270x183",
    style: "object-fit: cover;"
   %>

  <%= image_tag 'daisy2.jpg',
    # class: 'w-15',
    class: 'col mb-2',
    size: "270x183",
    style: "object-fit: cover;"
     %>
</div>
</body>
<hr>
<p style="font-size:25px;">
Welcome to Branching Out!
Here we offer a vast variety of plants to choose from. As a member of Branching Out, you are able to
create blogs posts to share your thoughts about particular plants, or you can browse the different plants and make a purchase.
This is a safe, free space for plant lovers to unite, so enjoy the full feautures of this site by signing up!
</p>

<hr>
    <center>
    <div class="container">
      <h1>Popular Posts 🔥</h1>
      <div class="panel panel-default">
      </div>
    </div>
  </center>

<body>

  <div class="w3-container w3-black"> 
    <h2>Struggles of having a cactus</h2>
  </div>
  <div class="w3-containter w3-grey">
    <article>honestly i love having a cactus, but sometimes it is rlly hard to keep it hydrated. Any thoughts or advice on how to keep a cactus hydrated?</article>
    <button type="button" class="btn btn-dark"><%= link_to 'Comments',new_user_registration_path %> <span class="badge">15</span></button> 
    <button type="button" class="btn btn-dark">Shares <span class="badge">10</span></button>
  </div>

  <div class="w3-container w3-black"> 
    <h2>How to keep Lillies from dying</h2>
  </div>
  <div class="w3-containter w3-grey">
    <article>Lol you cant. lillies are by far the most annoying plants i have ever bought. 1/10 would not recommend.</article>
    <button type="button" class="btn btn-dark"><%= link_to 'Comments',new_user_registration_path %> <span class="badge">10</span></button> 
    <button type="button" class="btn btn-dark">Shares <span class="badge">4</span></button>
  </div>

    <div class="w3-container w3-black"> 
      <h2>Unpopular Opinion: Roses are the worst flower.</h2>
    </div>
    <div class="w3-containter w3-grey">
        <article>soooo here me out. For Valentine's Day, everyone always buys roses. but wh yhave roses been like the flower standard? They are not even that nice imo.</article>
        <button type="button" class="btn btn-dark"><%= link_to 'Comments',new_user_registration_path %> <span class="badge">7</span></button> 
        <button type="button" class="btn btn-dark">Shares <span class="badge">2</span></button>
  </div>


</body>