<h1>List O' Flowers</h1>
<p>
    <%= link_to "Add Flower", new_plant_path, class: 'btn btn-dark btn-dark' %>
</p>

<tbody>
    <% @plants.each do |plant| %>
        <div class="card border-dark bg-light mb-3" style="width: 70rem;">

            <div class="card-body">
            <% if plant.creator == current_user %>
                <p class="card-text"><%= link_to 'âœï¸', edit_plant_path(plant) %></p>
            <% end %>
                <center><h1 class="card-title"><%= link_to plant.name, plant_path(plant) %> </h1></center>
                <center><p class="card-text">Owner: <%= plant.creator.email %></p></center>
            <% if plant.creator == current_user %>
                <left><p class="card-text"><%= link_to 'ðŸ—‘ï¸', plant_path(plant), method: :delete %></p></left>
            <% end %>
            </div>

        </div>
    <% end %>
</tbody>