<h1>Flower Information</h1>


<h4>
    <%= @plant.name %> <br>
    <%= @plant.breed %>
    <hr>

    <% if @plant.creator == current_user %>
        <%= link_to 'Edit', edit_plant_path, class: 'btn btn-dark btn-dark' %> 
    <% end %>

    <% if @plant.creator == current_user %>
      <%= link_to 'Create New Ad', choose_path(@plant), class: 'btn btn-dark btn-dark' %>
    <% end %>
    
</h4>



<p>Price: $<%= @plant.price %></p>
<p>Stock: <%= @plant.stock %></p>


<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #9BFF9B;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #BFFFBF;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #87DF87;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}
</style>
</head>
<body>

<%= image_tag(@plant.image,class: 'col mb-2',
    size: "270x260",
    style: "object-fit: cover;") if @plant.image.attached? %>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Description</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Tips</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Reviews</button>
</div>

<div id="London" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  <p><%= @plant.description %></p>
</div>

<div id="Paris" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
    <% @tips.each do |tip| %>

        <% if tip.body == '' || tip.body == nil %>
            <p>No Tips Given/Figure it Out Yourself</p>   
        <% end %> 
        <p><%= tip.body %></p>
        
    <% end %>
</div>

<div id="Tokyo" class="tabcontent">
<p><%= link_to 'Write a Review ➕', new_plant_review_path(@plant) %></p>
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
    <% @reviews.each do |review| %>
        <h5><%= review.creator.email %><h5>
        <p><%= review.body %></p>
        <p>Rating: <%= review.rating %></p>
        <hr>
    <% end %>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<!-- <table class = "table table-striped table-hover">

    <thead class = "thead-dark">
        <tr>
            <th> Ad </th>
            <th></th>
        </tr>
    </thead>

    <body>
        <% @ads.each do |ad| %>
            <tr>
                <td><%= ad.title %></td>
                <td><%= link_to 'Show', plant_path(ad) %> </td>

            </tr>
        <%end%>
    </body>

</table> -->

<%= link_to "Back", plants_path, class: 'btn btn-dark btn-dark'%>