<h1>Checkout</h1>

<div id="page">
  <div id="main">
    <div class="product-container">
      <h2>Pink Flower</h2>
     <%= image_tag 'pinkflower.jpg',
    class: 'w-15', 
    style: 'max-width: 22rem;'
    %> 
    <small>This image is meant to deal with the Order info Boxwhich I will figure out soon</small>
    </div>
     <%=bootstrap_form_with model: @checkout, methos: :post, url: checkout_path(), local: :true do |f|%>
      <%=f.text_field :first_name%>
      <%= f.text_field :last_name%>
      <%= f.text_field :address%>
    <%end%>

    <div class="card">
      <div class="chip">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 230 384.4 300.4" width="38" height="70">
              <path d="M377.2 266.8c0 27.2-22.4 49.6-49.6 49.6H56.4c-27.2 0-49.6-22.4-49.6-49.6V107.6C6.8 80.4 29.2 58 56.4 58H328c27.2 0 49.6 22.4 49.6 49.6v159.2h-.4z" data-original="#FFD66E" data-old_color="#00FF0C" fill="rgb(237,237,237)"/>
              <path d="M327.6 51.2H56.4C25.2 51.2 0 76.8 0 107.6v158.8c0 31.2 25.2 56.8 56.4 56.8H328c31.2 0 56.4-25.2 56.4-56.4V107.6c-.4-30.8-25.6-56.4-56.8-56.4zm-104 86.8c.4 1.2.4 2 .8 2.4 0 0 0 .4.4.4.4.8.8 1.2 1.6 1.6 14 10.8 22.4 27.2 22.4 44.8s-8 34-22.4 44.8l-.4.4-1.2 1.2c0 .4-.4.4-.4.8-.4.4-.4.8-.8 1.6v74h-62.8v-73.2-.8c0-.8-.4-1.2-.4-1.6 0 0 0-.4-.4-.4-.4-.8-.8-1.2-1.6-1.6-14-10.8-22.4-27.2-22.4-44.8s8-34 22.4-44.8l1.6-1.6s0-.4.4-.4c.4-.4.4-1.2.4-1.6V64.8h62.8v72.4c-.4 0 0 .4 0 .8zm147.2 77.6H255.6c4-8.8 6-18.4 6-28.4 0-9.6-2-18.8-5.6-27.2h114.4v55.6h.4zM13.2 160H128c-3.6 8.4-5.6 17.6-5.6 27.2 0 10 2 19.6 6 28.4H13.2V160zm43.2-95.2h90.8V134c-4.4 4-8.4 8-12 12.8h-122V108c0-24 19.2-43.2 43.2-43.2zm-43.2 202v-37.6H136c3.2 4 6.8 8 10.8 11.6V310H56.4c-24-.4-43.2-19.6-43.2-43.2zm314.4 42.8h-90.8v-69.2c4-3.6 7.6-7.2 10.8-11.6h122.8v37.6c.4 24-18.8 43.2-42.8 43.2zm43.2-162.8h-122c-3.2-4.8-7.2-8.8-12-12.8V64.8h90.8c23.6 0 42.8 19.2 42.8 42.8v39.2h.4z" data-original="#005F75" class="active-path" data-old_color="#005F75" fill="rgba(0,0,0,.4)"/>
            </svg>
      </div>
      <form action="#">
        <label for="number">Card Number
          <input type="text" id="number" placeholder="0000 - 0000 - 0000 - 0000">
        </label>
        <label for="name">Name
          <input type="text" id="name" placeholder="Jhon Doe">
        </label>
        <label for="date">Expiration Date
          <input type="text" id="date" placeholder="00/00">
        </label>
        <label for="cvc">Security Code
          <input type="text" id="cvc" placeholder="000">
        </label>
        <button>Confirm
          <i class="fa fa-angle-right"></i>
        </button>
        <label for="remember">Save my information for later
          <input type="checkbox" checked="checked" id="remember">
        </label>
    </form>
    </div>
    <div class="price-container">
      <strong>149,95 $</strong>
      <small>Inc. shipping & tax</small>
    </div>
  </div>
</div>

<!DOCTYPE html>

<html>

  <head>

    <title>Buy cool new product</title>

    <link rel="stylesheet" href="style.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

    <script src="https://js.stripe.com/v3/"></script>

  </head>

  <body>

    <section>

      <div class="product">

        <img

          src="https://i.imgur.com/EHyR2nP.png"

          alt="The cover of Stubborn Attachments"

        />

        <div class="description">

          <h3>Stubborn Attachments</h3>

          <h5>$20.00</h5>

        </div>

      </div>

      <button type="button" id="checkout-button">Checkout</button>

    </section>

  </body>

  <script type="text/javascript">

    // Create an instance of the Stripe object with your publishable API key

    var stripe = Stripe("pk_test_51InntxJoWtEOH4ACrcTiDXEWLOcXUZRs9Izv0m1gozi6smfD4aiJd64Wl2tMHMYanc0b6lcgYrEKnse1z7H6hHgD00kkoPsMUZ");

    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {

      fetch("/create-checkout-session", {

        method: "POST",

      })

        .then(function (response) {

          return response.json();

        })

        .then(function (session) {

          return stripe.redirectToCheckout({ sessionId: session.id });

        })

        .then(function (result) {

          // If redirectToCheckout fails due to a browser or network

          // error, you should display the localized error message to your

          // customer using error.message.

          if (result.error) {

            alert(result.error.message);

          }

        })

        .catch(function (error) {

          console.error("Error:", error);

        });

    });

  </script>

</html>